
  * {
    box-sizing: border-box;
  }
 
  body {
    font-family: 'Montserrat Alternates Regular';
    overflow-x:hidden;
  }
  
  /* Форма */
  form {
    margin-bottom: 75px;
    border: 2px solid #000;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    max-width: 520px;
    font-family: 'Montserrat Alternates Regular';
  
  }
  
  form input {
    width: 50%;
    padding: 10px;
    /* line-height: 1; */
    font-size: 16px;
    border: 0;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    /* border-radius: 0; */
    background: #fff;
    font-family: 'Montserrat Alternates Regular';
  
  }
  
  form input:focus {
    outline: 0;
    background: #fef2de;
  }
  
  form input:last-of-type {
    width: 100%;
  }
  form button {
    width: 100%;
    border: 0;
    font-size: 14px;
    font-family: 'Montserrat Alternates Regular';
  
  }
  
  button,
  input[type=submit] {
    text-transform: uppercase;
    padding: 8px 15px;
    border: none;
    background: rgb(196, 72, 233);
    color: #fff;
    font-size: 14px;
    cursor: pointer;
  }
  
  /* Карточка пиццы*/
  .pizza {
    background: white;
    border: 1px solid #ededed;
    box-shadow: 0 20px 34px 0 rgba(0,0,0,0.09);
    position: relative;
    display: flex;
    flex-direction: column;
    /* padding: 12px; */
    /* margin-bottom: 22px; */
    
}
  
  .pizza img {
    width: 250px;
    object-fit: contain;
  }
  
  .pizza span {
    background: rgb(142, 0, 174);;
    color: white;
    font-weight: 600;
    padding: 5px;
    line-height: 1;
    font-size: 27px;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    font-family: 'Montserrat Alternates Regular';
  
  }
  
  .pizza .pizza-controls {
    position: absolute;
    top: 5px;
    left: 5px;
  }
  .pizza svg {
    width: 22px;
    height: 22px;
    cursor: pointer;
    margin-right: 10px;
    color: #392e4a;
  }
  
  .pizza a {
    color: #fff;
    text-decoration: none;
  }
  
  .pizza h2 {
    margin: 0 40px;
    text-align: center;
    margin-top: -1rem;
    background: rgb(142, 0, 174);
    display: inline;
    line-height: 1.3;
    font-size: 27px;
    color: white;
    padding: 0 7px;
    font-family: 'Montserrat Alternates Regular';
  
  }
  
  /*Edit form*/
  .edit-form {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .edit-form input {
    width: 100%;
  }
  
  /* Пагинация */
  .pagination {
    text-align: center;
    display: inline-grid;
    grid-template-columns: repeat(4, auto);
    align-items: stretch;
    justify-content: center;
    align-content: center;
    margin: 52px 0 20px;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
  }
  
  .pagination > * {
    margin: 0;
    padding: 15px 20px;
    border-right: 1px solid #e1e1e1;
  }
  .pagination :first-child {
    cursor: pointer;
  }
  .pagination :last-child {
    cursor: pointer;
    border-right: 0;
  }
  
  .pagination .disabled {
    pointer-events: none;
    color:#f2f2f2;
  }
  
  /* Страница каждой пиццы */
  .pizza-page img {
    width: 420px;
    height: 100%;
    object-fit: contain;
  }
  .pizza-page h2 {
    font-size: 32px;
    margin-top: -3rem;
    height: 48px;
  
    
  }
  .pizza-page p {
    font-size: 22px;
    line-height: 2;
    text-align: center;
  }
  .pizza-page span {
    font-size: 32px;
    /* font-family: 'Montserrat Alternates'; */
  
    /* transform: rotate(4deg); */
  }

 